{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<div class="card">
    <form id="income-form" class="modal-content" hx-post="{{ request.path }}" onsubmit="return preventDoubleSubmit(this);">
       {% csrf_token %}
       <div class="modal-header">
         <h5 class="modal-title">Add new income</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="card-body">
          <div class="form-group row">
             <label for="id_employee" class="col-sm-8 text-right control-label col-form-label">Income Description</label>
             <div class="col-sm-4">
                {% render_field form.description class="form-control" %}
                <div class="invalid-feedback">{{ form.description.errors|first }}</div>
             </div>
          </div>

          <div class="form-group row">
            <label for="id_annual_amount" class="col-sm-8 text-right control-label col-form-label">Annual amount (such as salary)</label>
            <div class="col-sm-4">
               <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                  </div>
                  {% render_field form.annual_amount class="form-control"  min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"%}
               </div>
               <div class="invalid-feedback">{{ form.annual_amount.errors|first }}</div>
            </div>
         </div>

         <div class="form-group row">
            <label for="id_start_age" class="col-sm-8 text-right control-label col-form-label">When does your income begin (enter an age)</label>
            <div class="col-sm-4">
               {% render_field form.start_age class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" %}
               <div class="invalid-feedback">{{ form.start_age.errors|first }}</div>
            </div>
         </div>

         <div class="form-group row">
            <label for="id_end_age" class="col-sm-8 text-right control-label col-form-label">When does your income end (enter an age) </label>
            <div class="col-sm-4">
               {% render_field form.end_age class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"%}
               <div class="invalid-feedback">{{ form.end_age.errors|first }}</div>
            </div>
         </div>

         <div class="form-group row">
            <label for="id_growth" class="col-sm-8 text-right control-label col-form-label">Does this income grow over time? If so, how high (in $) will this be when you're 65</label>
            <div class="col-sm-4">
               <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                  </div>
                  {% render_field form.growth class="form-control"  min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"%}
               </div>
               <div class="invalid-feedback">{{ form.growth.errors|first }}</div>
            </div>
            
         </div>

         <input type="submit" name="submit" class="btn btn-primary float-right" value="Add Income">
        </div>
    </form>
</div>
{% endwith %}

<script>

</script>
 